@use 'mixins';

header{
    background-color: #B30000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    .container{
        @include mixins.flex(center, space-between, row);
        height: 100px;
        position: relative;
        .logo {
            width: 70px;
            display: block;
        }
        .btn-menu{
            font-size: 3rem;
            color: white;
            display: none;
        }
        .nav_bar{
            ul{
                @include mixins.flex(center, center, row);
                li{
                    a{
                        padding: 10px;
                        margin-left: 7px;
                        text-transform: uppercase;
                        color: white;
                        font-weight: 500;
                        border-bottom: 2px solid transparent;
                        &:hover, &.active{
                            border-bottom-color: white;
                        }
                    }
                }
            }
        }
        @include mixins.responsive (790px){
            .btn-menu{
                display: block;
                transition: .2s;
            }
            .fa-xmark{
                transform: rotate(180deg);
            }
            .nav_bar{
                position: absolute;
                top: 100px;
                left: 0;
                z-index: 999;
                width: 100%;
                background-color: #B30000;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                transition: .2s;
                ul{
                    flex-direction: column;
                    li{
                        a{
                            margin: 0 0 10px 0;
                        }
                    }
                }
            }
            .nav-active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
    }
}